body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;;
}
.container{
    padding-top: 1%;
    background-color: #f4f4f4;
    height: 100px;
    margin-bottom: 40px;
}
.container h1{
    color: #ff4500;
    text-align: center;
}
.foto{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    background-color: red   ;
}
.caixa_texto{
    border-top: #ff4500 5px;
    padding: 10px;
    background-color: #f4f4f4;
    margin-right: 64px;
    margin-left: 64px;
}
.comentarios{
    margin-left: 10px;
    margin-top: 10px;
}
.abrirmenu {
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 100%;
    position: fixed;
    width: 50px;
    background-color: #ff4500;
    color: #f4f4f4;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;
}
.caixa_cadastro{
    font-size: 118%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    background-color: #f4f4f4;
    color: #ff4500;
}
.caixa_cadastro label{
    color: black;
}
.caixa_login{
    font-size: 118%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    background-color: #f4f4f4;
    color: #ff4500;
}
.caixa_login input{
    margin-left: 22%;
    height: 8%;
    width: 51%;
    font-size: 118%;
}
.caixa_login button{
    border-color: black;
    background-color: #ff4500;
    color: black;
    margin-top: 35px;
    height: 9%;
    width: 22%;
    font-size: 118%;
    margin-left: 53%;
    margin-bottom: 20px;
}
.msg_erro{
    text-align: center;
    margin-top: 15px;
    color: red;
    font-size: 80%;
}
.caixa_login label{
    margin-left: 22%;
    margin-top: 35px;
    height: 8%;
    width: 51%;
    font-size: 118%;
    color: black;
}
.caixa_login a{
    font-size: 80%;
    color: #ff4500;
}